/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.header{
  width: 100%;
  height: 180px;
  background-color:#CE2829 ;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.header nav {
  display: flex;
  gap: 6px; 
  margin-right: 300px;
  
 
}
.header nav a{
  color: #fff;
  font-weight: bold;

}
.header nav a:hover{
 color: yellow;

}
.icerik{
  
}
.icerik-section{
  
 
}
.form-orta{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-right: 200px;
  margin-left: 200px;
}



/* Genel ayarlar */


/* Header */








/* İçerik alanı */

.icerik-section {
  background-color: white;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.icerik-section h2 {
  margin-bottom: 10px;
}

.pizzaInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pizzaInfo h1 {
  color: #d32f2f;
}

.order-pizza-form {
  width: 100%;
  max-width: 800px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.boyut,
.ekMalzeme {
  margin-bottom: 20px;
}

.malzeme-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.malzeme-columns .material-item {
  width: 30%;
}

.form-text-area {
  margin-bottom: 20px;
}

.odeme-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.sayac {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sayac-value {
  font-size: 18px;
  font-weight: bold;
}

.siparis-containet {
  text-align: right;
}

.siparis-containet h2 {
  margin-bottom: 10px;
}

.siparis-containet p {
  margin: 5px 0;
}

.siparis-containet p:last-child {
  font-weight: bold;
  color: #d32f2f;
}

.siparis-containet button {
  background-color: #ffc107;
  border: none;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.siparis-containet button:hover {
  background-color: #ffca28;
}
