@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: Barlow, Roboto Condensed, Quattrocento, Satisfy;
  font-weight: 300px;


}
*{
  margin: 0;
  font-family: Barlow;
  padding: 0;
}
